@use "@styles/colorVariables.scss" as colorVariables;

// SCSS Variables
$border-radius: 8px;
$spacing: 1rem;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: colorVariables.$background-color;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.75);
  max-width: 25rem;
  margin: 0 auto;

  button {
    cursor: pointer;
    border: 2px solid colorVariables.$button-border-color;
    background-color: colorVariables.$button-background-color;
    color: colorVariables.$button-text-color;
    border-radius: 0.25rem;
    padding: 0.5rem;
  }

  input {
    background-color: colorVariables.$input-background-color;
    border: 2px solid colorVariables.$input-border-color;
    color: colorVariables.$input-text-color;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: colorVariables.$input-placeholder-color;
    }
  }

  .app-content {
    width: 100%;
    max-width: 20rem;
  }
}

@media (max-width: 600px) {
  .app {
    .app-content {
      width: auto;
    }
  }
}
