@use "@styles/colorVariables.scss" as colorVariables;

.login-form {
  width: 100%;

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 1rem;
    }

    button {
      margin-top: 0.75rem;
    }

    .login-error {
      color: colorVariables.$imperial-red;
      font-size: 0.875rem;
      margin-top: -0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}
